@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,900;1,300&display=swap');


* {
    box-sizing: border-box;
}

body, html {
    height: 100%;
    font-family: Roboto;
    margin: 0;
    padding: 0;
}

.allign {
    width: 1024px;
    margin: auto
}

.flex {
    display: flex;
}

.spacer-inner {
    padding: 100px 0;
}

.button {
    background-color: #3882F6;
    border: none;
    border-radius: 10px;
    color: inherit;
    width: 105px;
    height: 35px;
}

.top {
    background-color: #1f2938;
}

.dark-layout {
    color: #F9FAF8;
    background-color: #1F2937
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav h3 {
    font-size: 24px
}

nav div a {
    margin-left: 20px;
    text-decoration: none;
    color: inherit;
}

header .nav-links {
    gap: 100px;
}

.hero-text {
    width: 50%
}

.hero-text h1 {
    font-size: 48px;
    font-weight: 900;
    margin: 0
}

.hero-text p {
    font-size: 18px;
    color: #e5e7eb
}

.hero-text .button {
    background-color: #3882f6
}

.hero-img {
    position: relative;
    text-align: center;
    width: 50%;
    background: rgba(229, 231, 235, 0.5);
}